@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF4C00;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FF4C00;
    flex-wrap: nowrap;
    margin-bottom: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    text-align: start;
    margin-right: -15%;
}

.brand-name-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 0;
}

.logo {
    height: 65px;
    margin-right: 10px;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
}

nav ul {
    justify-content: flex-end;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: text-decoration 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffd700;
    transition: width 0.4s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffd700;
    text-decoration: none;
}

.icon {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-container,
    .brand-name-container {
        flex: 1 1 100%;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 0;
    }

    nav ul {
        text-align: center;
        flex-direction: column;
        width: 100%;
        display: none;
        background-color: #FF4C00;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px 0;
        border-radius: 10px;
        z-index: 1001;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    .icon {
        display: block;
        margin-left: auto;
        z-index: 1002;
    }

    .navbar.responsive nav ul {
        display: flex;
    }
}

.banner {
    margin-top: 6rem;
    position: relative;
    width: 100%;
    height: 600px;
    animation: zoomFadeIn 0.7s ease-out;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.948), rgba(0, 0, 0, 0));
}

.texto1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 90;
    animation: fadeInText 1s ease-out;
}

@keyframes zoomFadeIn {
    from {
        transform: scale(1.2);
        opacity: 0.9;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1280px) {
    .banner {
        margin-top: 10rem;
        height: 560px;
    }

    .texto1 {
        font-size: 75px;
    }
}

@media screen and (max-width: 900px) {
    .banner {
        margin-top: 9rem;
        height: 520px;
    }

    .texto1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 800px) {
    .banner {
        margin-top: 9rem;
        height: 450px;
    }

    .texto1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 700px) {
    .banner {
        margin-top: 9rem;
        height: 380px;
    }

    .texto1 {
        font-size: 45px;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info, .footer-links, .footer-socials {
    flex: 1;
    min-width: 250px;
}

.footer-info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-info p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-socials h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-socials ul {
    list-style: none;
    padding: 0;
}

.footer-socials li {
    margin: 10px 0;
}

.footer-socials a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-socials a:hover {
    color: #007bff;
}

.footer-socials .social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: white;
}

.footer-socials .social-icon:hover {
    color: #007bff;
}
