main {
    background-color: #000;
    color: white;
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content:  center;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    height: 350px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, filter 0.2s, opacity 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
    filter: none;
    opacity: 1;
}

.product-list:hover .product-card:not(:hover) {
    filter: blur(3px);
    opacity: 0.7;
}

.product-list:not(:hover) .product-card {
    filter: none;
    opacity: 1;
}

.product-image {
    max-width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h2,
.product-card p {
    color: black;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.view-more-button {
    display: inline-block;
    padding: 15px 30px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    position: relative;
}

.view-more-button:hover {
    background-color: darkblue;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.view-more-button:active {
    transform: scale(0.98);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.view-more-button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: glowing 1.5s ease-in-out infinite;
}

@keyframes glowing {
    0% { box-shadow: 0 0 5px darkblue; }
    50% { box-shadow: 0 0 15px darkblue; }
    100% { box-shadow: 0 0 5px darkblue; }
}

.product-button {
    text-align: center;
    margin-top: 20px;
}


.fondo {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.fondo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    z-index: 1;
}

.fondo2 {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    align-items: center;
    position: absolute;
    padding: 4%;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 90%;
    height: 580px;
    z-index: 2;
}

.fondo2-img-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fondo2-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo2-texto-seccion {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondo2-texto-seccion h2 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

.fondo2-img-seccion:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.fondo2-texto-seccion:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Media Queries */
@media (max-width: 1400px) {
    .product-card {
        width: 40%;
        height: auto;
        padding: 10px;
    }

    .product-image {
        height: 180px;
    }
}

@media (max-width: 1280px) {
    .fondo2-texto-seccion h2 {
        font-size: 1.7em;
        margin: 10px;
        padding: 15px;
    }

    .view-more-button {
        font-size: 1em;
        padding: 12px 24px;
    }
}

@media (max-width: 1000px) {
    .fondo2-texto-seccion h2 {
        font-size: 1.5em;
        margin: 10px;
        padding: 15px;
    }

    .view-more-button {
        font-size: 0.8em;
        padding: 12px 24px;
    }
}

@media (max-width: 768px) {
    .fondo {
        height: 490px;
        width: auto;
    }

    .fondo2 {
        grid-template-columns: 1fr;
        padding: 4%;
        height: auto;
    }

    .fondo2-texto-seccion h2 {
        font-size: 1.2em;
        margin: 10px;
        padding: 15px;
    }

    .view-more-button {
        font-size: 0.8em;
        padding: 12px 24px;
    }

    .product-list {
        flex-direction: column;
    }

    .product-card {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .product-image {
        height: 150px;
    }

    .product-card h2 {
        font-size: 1.1em;
    }

    .product-card p {
        font-size: 1em;
    }

    .section-title {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .fondo2 {
        grid-template-columns: 1fr;
        padding: 4%;
        height: auto;
    }

    .fondo2-texto-seccion h2 {
        font-size: 1em;
        margin: 5px;
        padding: 10px;
    }

    .view-more-button {
        font-size: 0.8em;
        padding: 10px 20px;
    }

    .product-list {
        flex-direction: column;
    }

    .product-card {
        width: 90%;
        height: auto;
        padding: 8px;
    }

    .product-image {
        height: 120px;
    }

    .product-card h2 {
        font-size: 1em;
    }

    .product-card p {
        font-size: 0.9em;
    }

    .section-title {
        font-size: 1.2em;
    }
}